<section class="panel panel-primary">


  <hgroup class="panel-heading">
    <h3 class="panel-title">Addon</h3>
  </hgroup>


  <nav class="list-group">
    {{#link-to "addon.installation" class="list-group-item"}}
      Installation
    {{/link-to}}
    {{#link-to "addon.configuration" class="list-group-item"}}
      Configuration
    {{/link-to}}
    {{#link-to "addon.concepts" class="list-group-item"}}
      Concepts
    {{/link-to}}
    {{#link-to "addon.test-helper" class="list-group-item"}}
      Test Helper
    {{/link-to}}
  </nav>


</section>{{!-- .panel --}}
