<section class="panel panel-default">
  <div class="panel-body">


    <div class="page-header"><h1 class="h3">
      Addon Installation
    </h1></div>


    <p class="lead">
      Thanks to the ember-cli addon ecosystem, installation is easy.
      From within your project, simply run the usual install command,
      with this addon's name.
    </p>


    <pre>ember install ember-froala-editor</pre>


    <p>
      This addon will also add a couple other dependencies to your project.
      The <code><a href="https://github.com/froala/wysiwyg-editor" target="_blank">froala-wysiwyg-editor</a></code> will be added to your <code>bower.json</code> dependencies, and <code><a href="https://github.com/martndemus/ember-cli-font-awesome" target="_blank">ember-cli-font-awesome</a></code> will be added to your <code>package.json</code> dependencies (to satisfy the <a href="https://www.froala.com/wysiwyg-editor/docs#backend" target="_blank">Font Awesome requirement</a>). And at this point jQuery is required for Ember, so there is no need to add a dependency for that.
    </p>


  </div>{{!-- .panel-body --}}
</section>{{!-- .panel --}}
