<section class="card">
  <div class="card-body">


    <h1 class="card-title">
      Addon Installation
    </h1>
    <hr />


    <p class="lead">
      Thanks to the ember-cli addon ecosystem, installation is easy.
      From within your project, simply run the usual install command,
      with this addon's name.
    </p>


    <pre class="bg-light border rounded p-2 text-dark">ember install ember-froala-editor</pre>


    <p>
      A dependency for <code class="bg-light text-dark"><a href="https://github.com/martndemus/ember-font-awesome" target="_blank">ember-font-awesome</a></code> will be added to your projects <code class="bg-light text-dark">package.json</code> to satisfy the <a href="https://www.froala.com/wysiwyg-editor/docs/overview#backend" target="_blank">Font Awesome requirement</a>. The Froala Editor files will be imported directly from this addons dependency for <code class="bg-light text-dark">froala-editor</code>. And at this point jQuery is required for Ember, so there is no need to add a jQuery dependency.
    </p>


  </div>{{!-- .card-body --}}
</section>{{!-- .card --}}
