<section class="panel panel-default">
  <div class="panel-body">


    <div class="page-header"><h1 class="h3">
      Addon Installation
    </h1></div>


    <p class="lead">
      Thanks to the ember-cli addon ecosystem, installation is easy.
      From within your project, simply run the usual install command,
      with this addon's name.
    </p>


    <pre>ember install ember-froala-editor</pre>


    <p>
      A dependency for <code><a href="https://github.com/martndemus/ember-font-awesome" target="_blank">ember-font-awesome</a></code> will be added to your projects <code>package.json</code> to satisfy the <a href="https://www.froala.com/wysiwyg-editor/docs/overview#backend" target="_blank">Font Awesome requirement</a>. The Froala Editor files will be imported directly from this addons dependency for <code>froala-editor</code>. And at this point jQuery is required for Ember, so there is no need to add a jQuery dependency.
    </p>


  </div>{{!-- .panel-body --}}
</section>{{!-- .panel --}}
