<section class="card">
  <div class="card-body">


    <h1 class="card-title">
      Addon Test Helper
    </h1>
    <hr />


    <p class="lead">
      This addon also provides a convenient test helper to interact with the editor in tests. It functions similar to the <a href="https://github.com/emberjs/ember-test-helpers/blob/master/API.md#fillin" target="_blank">ember provided <code class="bg-light text-dark">fillIn()</code> test helper</a>. Just import it into your test file by:
    </p>


    <pre class="bg-light border rounded p-2 text-dark">import { fillInFroalaEditor } from 'ember-froala-editor/test-support';</pre>


    <h4>
      Function Signature
    </h4>


    <p class="lead">
      <code class="bg-light text-dark">async function fillInFroalaEditor(<em>selector</em>, <em>html</em>) returns <em>Promise</em></code>
    </p>


  </div>{{!-- .card-body --}}


  <div class="table-responsive"><table class="table">
    <thead><tr>
      <th scope="col">Argument</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
    </tr></thead>
    <tbody>
      <tr>
        <th scope="row">selector</th>
        <td>string</td>
        <td>jQuery selector to find the DOM element of your <code class="bg-light text-dark">&#123;&#123;froala-editor&#125;&#125;</code>. For example, if your template has <code class="bg-light text-dark">&#123;&#123;froala-editor id="description-editor"&#125;&#125;</code> then your selector would be <code class="bg-light text-dark">'#description-editor'</code></td>
      </tr>
      <tr>
        <th scope="row">html</th>
        <td>string | <a href="https://emberjs.com/api/ember/3.0/classes/@ember%2Ftemplate/methods/htmlSafe?anchor=htmlSafe" target="_blank">SafeString</a></td>
        <td>String of HTML, or a SafeString of HTML to set on the editor.</td>
      </tr>
    </tbody>
  </table></div>


  <div class="card-body">


    <h4>
      Example Acceptance Test
    </h4>
    <pre class="bg-light border rounded p-2 text-dark">import $ from 'jquery';
import { module, test } from 'qunit';
import { setupApplicationTest } from 'ember-qunit';
import { visit } from '@ember/test-helpers';
<strong>import { fillInFroalaEditor } from 'ember-froala-editor/test-support';</strong>

module('Acceptance | fillInFroalaEditor', function(hooks) {
  setupApplicationTest(hooks);

  test('Testing fillInFroalaEditor test helper', async function(assert) {
    assert.expect(2);

    await visit('/');
    assert.equal($('.froala-editor-instance .fr-element').html().trim(), '&lt;p&gt;&lt;br&gt;&lt;/p&gt;', 'Editor empty on load');

    <strong>await fillInFroalaEditor('.froala-editor-container', '&lt;p&gt;Foobar&lt;/p&gt;');</strong>
    assert.equal($('.froala-editor-instance .fr-element').html().trim(), '&lt;p&gt;Foobar&lt;/p&gt;', 'Correct html entered');

  });
});</pre>


  </div>{{!-- .card-body --}}
</section>{{!-- .card --}}
