{{!-- 'content' changes will be updated directly on the editor instance --}}
{{!-- https://www.froala.com/wysiwyg-editor/docs/methods#html.set --}}
<div class="froala-editor-instance">{{{unbound content}}}</div>
