<section class="panel panel-default">


  <hgroup class="panel-heading">
    <h3 class="panel-title">Components</h3>
  </hgroup>


  <nav class="list-group">
    {{#link-to "addon-components.froala-editor" class="list-group-item"}}
      <code>&#123;&#123;froala-editor&#125;&#125;</code>
    {{/link-to}}
    {{#link-to "addon-components.froala-content" class="list-group-item"}}
      <code>&#123;&#123;froala-content&#125;&#125;</code>
    {{/link-to}}
  </nav>


</section>{{!-- .panel --}}
