<section class="panel panel-default">
  <div class="panel-body">


    <div class="page-header"><h1 class="h3">ember-froala-editor</h1></div>


    <p class="lead">
      Bring the <a href="https://www.froala.com/wysiwyg-editor" target="_blank">Froala WYSIWYG Editor</a> into an ember-cli project with this addon. Besides importing the required Froala Editor files, the <em>main</em> part of this addon is the <code>&#123;&#123;froala-editor&#125;&#125;</code> component. Checkout the <a href="https://github.com/froala/ember-froala-editor" target="_blank">Github page</a> to take a look at the code and to <a href="https://github.com/froala/ember-froala-editor/issues" target="_blank">submit issues</a>.
    </p>


    <p class="lead">
      Note: Froala Editor is a <a href="https://www.froala.com/wysiwyg-editor/pricing" target="_blank">paid for product</a>, but is a lovely experience for the end users.
    </p>


    {{froala-editor options=exampleOptions}}


  </div>{{!-- .panel-body --}}
</section>{{!-- .panel --}}




<section class="panel panel-default visible-xs-block">
  <nav class="list-group">
    {{link-to "Addon Information" "addon.index" class="list-group-item"}}
    {{link-to "Included Components" "addon-components.index" class="list-group-item"}}
    {{link-to "Included Helpers" "addon-helpers.index" class="list-group-item"}}
  </nav>
</section>{{!-- .panel --}}
